html, body {
    margin: 0;
}

#entete {
    background: black;
    height: 40px;
    vertical-align: text-top;
    text-align: center;
    box-shadow: 0px 3px 9px red;
    animation: enteteAnim 10s alternate;
}

@keyframes enteteAnim {
    0% {
        box-shadow: 0px 3px 9px red;
    }

    10% {
        box-shadow: 0px 4px 20px red;
    }
}

#entete input, #entete #userDiv {
    margin-top: 10px;
}

#formTown {
    float: right;
    margin-right: 20px;
}

#userDiv {
    color: white;
    float: left;

}

#mainLabel {
    color: white;
    margin-left: 20px;
    width: 80px;
    text-decoration: none;
}

#result, #content {
    margin: 40px;
    padding: 0 40px;
    text-align: center;
}

table {
    bordel: solid black 1px;
    width: 100%;
    border-collapse: collapse;
}

th {
    background: rgb(150, 150, 150);
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

tr {
    background: rgb(210, 210, 240);
}

tr:nth-child(odd) {
    background: rgb(240, 240, 240);
}

#recoLink {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

#recoLink:hover {
    color: red !important;
}

a:hover {
    color: blue !important;
}

h2 {
    margin: 5px;
}

td {
    padding: 5px;
}

.buttonStyle1 {
    border: solid black 1px;
    background: rgb(230, 230, 230);
    margin: 30px;
}

.buttonStyle1:hover {
    background: rgb(210, 210, 255);
}

#boxInfo {
    color: green;
    margin-bottom: 30px;
}
