body {
    top: 0px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: center;
    font-family: Sans-Serif;
}

html {
    max-height: 100vh;
}

#entete {
    font-size: initial;
    background: black;
    min-height: 35px;
    vertical-align: text-top;
    text-align: center;
    padding-bottom: 5px;
    display: inline-block;
    min-width: 100vw;
    position: relative;
    box-shadow: 0px 4px 10px red;
    animation: enteteAnim 10s alternate;

}

@keyframes enteteAnim {
    0% {
        box-shadow: 0px 4px 10px red;
    }

    50% {
        box-shadow: 0px 9px 30px red;
    }

    100% {
        box-shadow: 0px 4px 10px red;
    }
}

#entete input, #entete #userDiv {
    margin-top: 10px;
}

#rope {
    position: absolute;
    width: 120px;
    top: 0px;
    margin: 0px;
}

#rope:hover {
    animation: 1s ropeAnim alternate ease-out;
    transform-origin: 50% 0%;
}

@keyframes ropeAnim {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-7deg);
    }

    75% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#formTown {
    float: right;
    margin-right: 20px;
}

#userDiv {
    color: white;
    text-align: left;
    float: left;
}

#mainLabel {
    color: white;
    margin-left: 20px;
    width: 80px;
    text-decoration: none;
}

#result, #content {
    margin: 40px;
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
}

#content h1 {
    box-shadow: 0px 3px 0px -1px blue;
    display: inline-flex;
    max-height: 0;
    overflow: hidden;
    animation: contenth1Anim 6s forwards ease-in;
}

@keyframes contenth1Anim {
    100% {
        max-height: 200px;
    }
}

table {
    bordel: solid black 1px;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: black;
    color: white;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-radius: 10px 10px 0px 0px;
}

td {
    background: linear-gradient(90deg, white, rgb(240, 240, 240), white);
    border-bottom: solid black 1px;
}

tr a {
    color: black;
    text-decoration: none;
}

#recoLink {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue !important;
}

h2 {
    margin: 5px;
}

td {
    padding: 5px;
}

.buttonStyle1 {
    border: solid black 1px;
    background: rgb(230, 230, 230);
    margin: 30px;
}

.buttonStyle1:hover {
    background: rgb(210, 210, 255);
}

#boxInfo {
    color: green;
    margin-bottom: 30px;
}
